.product-container {
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 13px 13px 1px rgb(0 0 0 / 50%);
  background-color: rgb(164, 175, 221);
}

.product-container.conservation {
  background-color: rgb(146, 202, 139);
}

.image-product {
  height: 75%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}